<datalist id="days">
	{% for i in range(0,31) %}
		<option value={{i}}>
	{% endfor %}
</datalist>
<datalist id="hours">
	{% for i in range(0,25) %}
		<option value={{i}}>
	{% endfor %}
</datalist>


<h1>Create a Sticky<h1>
<form action="/create_sticky" method="post">
    <h3>Title: <input type="text" name="title" required/></h3>
    <h3>Message: <input type="text" name="content" required/></h3>
    <h3>Important? <input type="checkbox" name="important"/></h3>
    <h3>How long do you want this sticky to last? <input list = "days" name = "days" required> Days <input list = "hours" name = "hours" required> Hours</h3>
    <input type="submit" value="Create Sticky"/>
</form>