
		<h1>Dashboard</h1>
		<form action="/do_not_disturb" method="post">
			<input type="submit" value="Toggle Do Not Disturb"/>
			<br>
		</form>
		<form action="/check_in_out" method="post">
			<input type="submit" value="Check in or Out"/>
			<br>
		</form>
		<form action="/create_sticky" method="get">
			<input type="submit" value="Create a Sticky"/>
			<br>
		</form>


		<div>
			Checked in:
			<ul>
				{% for person in checked_in %}
					<li>{{person.name}}</li>
				{% endfor %}
			</ul>

			Checked Out:
			<ul>
				{% for person in checked_out %}
					<li>{{person.name}}</li>
				{% endfor %}
			</ul>
		</div>
	