
		<h1>Dashboard</h1>



		<div>
			{% if dnd %}
				<p>DO NOT DISTURB</p>
			{% else %}
				<p>Do not disturb off</p>
			{% endif %}

		</div>

		<div>
			Checked in:
			<ul>
				{% for person in checked_in %}
					<li>{{person.name}}</li>
				{% endfor %}
			</ul>

			Checked Out:
			<ul>
				{% for person in checked_out %}
					<li>{{person.name}}</li>
				{% endfor %}
			</ul>
		</div>
		

		<div>
			<ul>
			{% for sticky in home_stickies %}
				<li>{{sticky.title}}: {{sticky.content}}<br />Created on: {{sticky.time_created}}</li>
			{% endfor %}
			</ul>
		</div>

	