#dash_title{
	position: fixed;
	color: #CAE9FF;
	border-radius: 50px;
	top: 13%;
	left: 25%;
	padding: 5px;
	text-align: center;
	width: 50%;
	margin: auto;
	background-color: #1B4965;
}
#main_left{
	position: fixed;
	top: 30%;
	width: 40%;
	left: 5%
}
#main_right{
	position: fixed;
	top: 30%;
	width: 40%;
	right: 5%;
}
#do_not_disturb_frame{
	float: left;
	width: 100%;
}
#do_not_disturb_title{
	color: #CAE9FF;
	border-radius: 50px;
	padding: 5px;
	text-align: center;
	width: 100%;
	margin: auto;
	background-color: #1B4965;
	margin-bottom: 5%;
}
.name_box{
	width: 100%;
}
.do_not_disturb_item{
	display: inline-block;
	color: #CAE9FF;
	font-size: 5%
	border: 2px;
	border-radius: 25px;
	padding: 5px;
	text-align: center;
	width: 22.75%;
	margin: auto;
	background-color: #4A8FE7;
	margin-bottom: 5%;
}
#whos_in_the_room_frame{
	float: left;
	width: 100%;
}
#whos_in_the_room_title{
	color: #CAE9FF;
	border-radius: 50px;
	padding: 5px;
	text-align: center;
	width: 100%;
	margin: auto;
	background-color: #1B4965;
	margin-bottom: 5%;
}
.whos_in_the_room_item{
	display: inline-block;
	color: #CAE9FF;
	font-size: 5%
	border 2px;
	border-radius: 25px;
	padding: 5px;
	text-align: center;
	width: 25%;
	margin: auto;
	background-color: #4A8FE7;
	margin-bottom: 5%;
}




.centered_title{
	text-align: center;
	color: #1B4965;
}
#background{
	background-color: #BEE9E8
}
.text_boxes{
	font-size: x-large;
	background: transparent;
    border: none;
    border-bottom: 2px dashed #576490;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}

table, th, td {
		border: 1px solid black;
		text-align: center;
}
.table_content {
	color: #CAE9FF;
}
#warning {
	color: red;
}



body {
	background-color: #BEE9E8;
	font-family: 'Montserrat', "Times New Roman", Times, serif;
	width: 100%;
}
