#dash_title{
	position: fixed;
	color: #CAE9FF;
	border-radius: 50px;
	top: 13%;
	left: 25%;
	padding: 5px;
	text-align: center;
	width: 50%;
	margin: auto;
	background-color: #1B4965;
}




.centered_title{
	text-align: center;
}
.text_boxes{
	font-size: x-large;
}

table, th, td {
		border: 1px solid black;
		text-align: center;
}
.table_content {
	color: #CAE9FF;
}
#warning {
	color: red;
}



body {
	background-color: #BEE9E8
}
