.subtitle{
	position: absolute;
	margin: auto;
	color: #1B4965;
	top: 40px;
	padding: 5px;
	padding-right:70px;
	padding-left:70px;
	text-align: center;
	width: 350px;
	border-bottom: 2px solid rgba(27, 72, 101, 0.68);
    margin-bottom: 30px;
    margin-top: 170px;
}

form {
	position: absolute;
	margin-top: 120px;
	margin-left: 15px;
}

form input[type=submit]{
	position: absolute;
	margin-left: 100px;
